/* Biography.module.css */
.page {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  padding-top: 50px; /* Adicionado espaço no topo */
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color: #711db0;
}
h2 {
  color: #711db0;
  font-style: italic;
}

.container {
  margin-top: 3em;
  width: 71%;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.062);
  padding: 20px; /* Adicionado padding para o conteúdo interno */
  overflow-y: auto; /* Permite scroll se o conteúdo exceder a altura */
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.301);
}

.biography {
  margin-bottom: 20px; /* Espaço entre as biografias */
}

.biography p {
  font-size: 1em;
  color: #333;
  line-height: 1.5; /* Torna o texto mais legível */
}

.biography a {
  color: #711db0; /* Cor de destaque para o link de download */
  text-decoration: none; /* Remove o sublinhado do link */
  font-weight: bold; /* Faz o link ficar em negrito */
}
