.container {
  /*   background-image: url("../../assets/imgs/background3.jpg");
 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 5em 1em 5em;
}

.menu {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 90%;
}
.menuItem {
  text-align: center;
  transition: 1s;
  position: relative;
  height: 30%;
  cursor: pointer;
}
.menu img {
  width: 200px;
  padding: 0;
  border-radius: 10px;
}
.menu img:hover {
  transition: 0.2s;
  opacity: 0.5;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  height: 5vh;
}
.menuFixed {
  position: sticky;
  top: 0; /* Ajuste conforme necessário */
  left: 0;
  bottom: 0; /* Ajuste conforme necessário */
  width: 100%; /* Ajuste conforme necessário */
}
@media (max-width: 1000px) {
  .container {
    padding: 0;
  }
  .menu {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
    gap: 10px;
    overflow: hidden;
  }
  .menu .menuItem {
    background-color: red;
  }
  .menu .menuItem img {
    width: 100%;
    height: 150%;
  }
}
.holder {
  text-align: center;
  font-size: 3em;
}
.holder p {
  font-size: 0.5em;
}
@keyframes swing {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.swingAnimation {
  animation: swing 2s infinite ease-in-out;
}
