.container {
  /*   background-image: url("../../assets/imgs/background3.jpg");
 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 5em 1em 5em;
}

.menu {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 90%;
}
.menuItem {
  text-align: center;
  transition: 1s;
  position: relative;
  height: 30%;
  cursor: pointer;
}
.menu img {
  width: 150px;
  padding: 0;
  border-radius: 10px;
}
.menu img:hover {
  transition: 0.2s;
  opacity: 0.5;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  height: 5vh;
}
.menuFixed {
  position: sticky;
  top: 0; /* Ajuste conforme necessário */
  left: 0;
  bottom: 0; /* Ajuste conforme necessário */
  width: 100%; /* Ajuste conforme necessário */
}
@media (max-width: 1000px) {
  .container {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: visible;
  }
  .menu .menuItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .menu .menuItem img {
    width: 100%;
    border-radius: 0;
    padding-top: 100px;
    border-top: 1px solid black;
  }
  .menuFixed {
    position: static;
  }
}
.holder {
  text-align: center;
  font-size: 2em;
}
.holder p {
  font-size: 0.5em;
}
@keyframes swing {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.swingAnimation {
  animation: swing 2s infinite ease-in-out;
}
