.container {
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 10ch;
  width: 100%;
  background-color: #ffe4e1;
  display: flex;
  align-items: center;
}
.container a {
  padding: 1em;
  width: 100%;
  outline: none;
  font-size: 1em;
  display: flex;
  justify-content: center;
  color: #5e4848;
}
.container a:hover {
  font-weight: bold;
  text-decoration: none;
}
.menu {
  padding: 1em;
  width: 30%;
}
.menu svg {
  font-size: 2em;
  color: #5e4848;
  cursor: pointer;
}
.submenu {
  z-index: 1;
  position: absolute;
  width: 15%;
  top: 5.5em;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffe4e1;
  justify-content: center;
  align-items: center;
}
.submenu a {
  border: 0.5px solid #5e535144;
}
@media (max-width: 1180px) {
  .submenu {
    transition: 0.5s;
    width: 100%;
  }
}
